*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #183456;
}
.top{
    display: flex;
    background-color: #fefefe;
    justify-content:space-around;
    margin: 50px auto;
    width: 70%;
    height: 200px;

}
.top .logo i{
    color: #005aa9;
     font-size: 3em;
     font-weight: bolder;
     display: flex;
     justify-content: center;
     margin-top: 30px;
}
.top .text h3{
    margin-top: 50px;
    color: #505458;
}
.top .uni-text{
    margin-top: 20px;
    color: #005aa9;
}
.form{
    margin: 0px auto;
    width: 70%;
    height: 200px;
    background-color: #e8ebed;
}
.form form select{
    width: 40%;
    margin: 30px;
    padding: 10px;
    border: none;
    outline: none;
}
.form form input[type=password]{
    width: 40%;
    margin: 30px;
    padding: 10px;
    border: none;
    outline: none;
}
.forgot-pasd{
    padding: 27px;
    text-decoration: none;
}
.login{
    background-color: #005fac;
    width: 80%;
    margin: 0 20px 0 60px;
    text-align: center;
    padding:5px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.login:hover{
    color: #fff;
}