*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}
span img{
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 3px 1px #ccc;
}
.forgot-password{
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px 1px #ccc;
    height: 400px;
    width: 40%;
    padding: 30px;
}
div.text h1{
color: #28548b;
}
div.text h5{
    color: #806868;
    padding: 10px 10px 10px 0;
}
.form form input{
    margin: 20px 10px 10px 0;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    outline: none;
}
.form form input:focus{
    border: 1px solid #005fac;
}
.form form label{
    color: #806868;
}
.form form input[type=submit]{
    width: 72%;
    background-color: #005fac;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}