*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* --content-- */

body{
    background-color: #e5e9ec;
}
.content{
    background-color: #e5e9ec;
    height: 100%;
    width: 100%;
}
/* --End of content-- */


/* --Logo-- */

.logo h1 i{
    color: #005aa9;
     font-size: 3em;
     font-weight: bolder;
     display: flex;
     justify-content: center;
     margin-top: 30px;
}
.logo h1{
    color: #005aa9;
    display: flex;
    justify-content: center;
}
.logo p{
    color: #888;
    display: flex;
    justify-content: center;
}
/* --End of Logo-- */


/* --form-- */

.student-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.student-form form input{
    margin: 0 0 20px 0;
    border: none;
    outline: none;
    padding: 5px;
   
}
.student-form form input:focus{
    background-color: #f2f2f2;
}
.student-form form{
    color: #888;
}
.forgot-psd{
    color: #2a6496;
    text-decoration: none;
}
/* --End of form-- */

/* --login-- */
.login{
    background-color: #005fac;
    width: 100%;
    text-align: center;
    padding:5px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.login:hover{
    color: #fff;
}
/* --End of login-- */



